@font-face {
  font-family: "games";
  src: url(fonts/pricedown/pricedown\ bl.otf);
}

@font-face {
  font-family: "elegant";
  src: url(fonts/blackchancery/BLKCHCRY.TTF);
}

@font-face {
  font-family: "arcade";
  src: url(fonts/arcade_ya/ARCADE_N.TTF);
}

@font-face {
  font-family: "panton";
  src: url(fonts/panton/Panton-BlackCaps.otf);
}

body {
  font-family: arcade;
  text-align: center;
  background-image: url(images/2304.w032.n002.943A.p30.943.jpg);
  background-size: cover;
  font-weight: lighter;
  color: white;
  letter-spacing: 1px;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: rgb(216, 161, 23);
  margin-bottom: 110px;
  margin-top: 45px;
  font-size: 70px;
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

button {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(216, 161, 23);
  border: solid 5px rgb(13, 105, 33);
  color: rgb(2, 100, 2);
  font-size: 18px;
  margin: 10px;
  margin-top: 170px;
  font-family: arcade;
  height: 76px;
}

button:hover {
  background-color: rgb(223, 173, 46);
}

button:active {
  background-color: rgb(206, 152, 17);
}

#resetbtn {
  margin-top: 15px;
}
#credits {
  font-family: elegant;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#message-el {
  font-style: italic;
}

p {
  font-size: 20px;
  font-family: panton;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
}

#message-el {
  font-size: 30px;
  font-style: normal;
}

#bet {
  position: absolute;
  top: 500px;
  left: 915px;
}

#cards-el {
  transform: scale(1);
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    text-shadow 0.3s ease-in-out;
}
@media only screen and (max-width: 600px) {
  /* Gaya CSS untuk layar kecil di sini */
}
